#shutdown-overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 50%; /* Full width (cover the whole page) */
    height: 50%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
    margin: auto;
}

#shutdown-msg {
    position: block;
    font-size: 40px;
    color: white;
    padding: 18px;
    margin: 4px;
}

.overlay-heading {
    color: white;
    font-size: 64px;
    padding: 2px;
    margin: 2px;
    background-color: rgba(0, 0, 0, 1);
}

#shutdown-overlay > button {
    padding: 8px;
    font-size: 16px;
    margin: 8px;
}