/* General Overlay Styling */
.overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 850px;
    height: 470px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #EDEDED;
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    margin: auto;
    border-radius: 15px;
}

.overlay-heading {
    color: white;
    font-size: 40px;
    margin: 0px;
    background-color: #898989;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 91px;
    line-height: 91px;
    padding-left: 16px;
}

.overlay-button {
    position: absolute;
    padding: 8px;
    font-size: 36px;
    margin: 8px;
    bottom: 16px;
    border-radius: 15px;
    width: 170px;
    height: 81px;
    color: white;
    background-color: #898989; 
}

form {
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}


/* Shutdown Overlay Styling */
#shutdown-button {
    background-color: #BC3F3F;
    right: 0;
    font-size: 24px;
}

#confirm-data, #confirm-vehicle {
    right: 0;
}

.shutdown-msg {
    font-size: 32px;
    color: #5B514D;
    padding: 18px;
    margin: 4px;
}

/* Add Vehicle Overlay Styling */
input[type=text] {
    display: block;
    width: 90%;
    margin: auto;
    padding: 8px;
}

label {
    margin-left: 36px;
    font-size: 24px;
    color: #5B514D;
}

/* Add Data Overlay Styling */
input[type=checkbox] {
    width: 24px;
    height: 24px;
    margin-right: 0px;
}


#data-form > label {
    margin-left: 0px;
}