<!-- components/overlays/shutdown_menu.html -->

<div id="shutdown-overlay" class="overlay">
    <p class="overlay-heading">Vehicle Paused</p>
    <p class="shutdown-msg"> <b>Warning!</b> You are about to shutdown (vehicle name).</p>
    
    <br><br><br>
    <p class="shutdown-msg">Do you wish to continue?</p>
    
    <button onclick="overlayOff('shutdown')" class="overlay-button" id="cancel-button">Cancel</button>
    <button class="overlay-button" id="shutdown-button">Shut down</button>
</div>
